<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  {{ style('style') }}
</head>
<body>

  <div class="chat-container">
    <div class="chat-wrapper">

        <div class="header">
          <h2>
            <span>commander</span>
            <span class="connection-status"></span>
          </h2>
        </div>
        <div class="messages">
        </div>
        <div class="input-wrapper">
          <input type="number" id="samples" name="samples" min="1000" max="50000" step="500" >
          <button id="startButton">Start</button>
        </div>

    </div>
  </div>

  {{ script('https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.26.0/polyfill.min.js') }}
  {{ script('https://unpkg.com/@adonisjs/websocket-client@1.0.9/dist/Ws.browser.js') }}
  {{ script('https://unpkg.com/jquery@3.3.1/dist/jquery.js') }}
  {{ script('chat.js') }}
</body>
</html>
